@use "resolution" as *;

.gattiSection {
    padding: 3rem 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.title {
    font-size: var(--xl-header-fs);
    font-weight: 700;
    color: var(--cats-title);
}

.subtitle {
    margin-top: 1rem;
    font-size: 1.2rem;
    color: var(--cats-subtitle);
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr)); 
    gap: 0.5rem;
    margin-top: 2rem;
    justify-content: center; 
}

.card {
    background: var(--cats-card-bg);
    box-shadow: 0 4px 6px var(--cats-card-shadow);
    border-radius: 10px;
    padding: 1.5rem;
    text-align: left;
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
}

.image {
    border-radius: 10px;
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
}

.name {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--cats-card-title); /* Variabile aggiornata */
}

.details {
    margin-top: 0.5rem;
    color: var(--cats-card-subtitle); /* Usa il colore giusto */
    list-style: none;
    padding: 0;
}

.details li {
    margin-bottom: 0.25rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--cats-card-subtitle); /* Assicurati che il colore venga applicato */
}
.description {
    margin-top: 1rem;
    color: var(--cats-card-desc);
}

.cardSubtitle {
    font-size: 1rem;
    font-weight: 600;
    color: var(--cats-card-subtitle);
    margin-bottom: 0.5rem;
}

@media (max-width: $media-tablet) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;
    }
}

@media (max-width: $media-mobile) {
    .grid {
        grid-template-columns: 1fr;
        gap: 0.5rem;
    }
}
