@use "resolution" as *;

.container {
  background-size: contain; /* Assicurati che l'immagine non venga zoomata */
  background-position: center; /* Centra l'immagine */
  background-repeat: no-repeat; /* Impedisce la ripetizione dell'immagine */
  background-attachment: scroll; /* Rimuovi 'fixed' su mobile per evitare il comportamento di zoom */
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--navbar-bg);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  z-index: 100;
  transition: all 0.3s ease-in-out;

  @media (min-width: $media-tablet) {
    padding: 15px 60px;
  }
}

@media (max-width: $media-tablet) {
  .container {
    background-size: cover; /* Torna a 'cover' per schermi più grandi */
    background-attachment: scroll; /* Su mobile, usa 'scroll' per evitare problemi con 'fixed' */
  }
}


.logoContainer {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
}

.logo {
  width: 55px;
  height: auto;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.25);
  }
}

.logoText {
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--navbar-text); /* Colore del testo nell'intestazione */
}

.link_container {
  display: none;

  @media (min-width: $media-tablet) {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  a {
    font-size: 18px;
    font-weight: 600;
    color: var(--navbar-link); /* Colore predefinito del link */
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;

    &:hover {
      color: var(--light); /* Colore di hover con il tuo primario teal-like green */
      transform: scale(1.05); /* Aggiungi un leggero ingrandimento */
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -3px;
      left: 50%;
      width: 0;
      height: 2px;
      background-color: var(--primary); /* Colore del sottolineamento durante l'hover */
      transition: all 0.3s ease-in-out;
      transform: translateX(-50%);
    }

    &:hover::after {
      width: 100%; /* La sottolineatura si estende quando si passa sopra il link */
    }
  }
}

.hamburger {
  display: block;
  font-size: 30px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: rotate(10deg);
  }

  @media (min-width: $media-tablet) {
    display: none;
  }
}

.menu_links_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  a {
    font-size: 26px;
    font-weight: bold;
    color: var(--light); /* Colore chiaro per il testo del menu */
    text-transform: uppercase;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;

    &:hover {
      color: var(--primary); /* Cambia il colore al passaggio sopra con il colore primario */
      transform: scale(1.1); /* Aggiungi un ingrandimento per il menu mobile */
    }
  }
}

@media (min-width: $media-tablet) {
  .menu_container {
    display: none;
  }
}


.closeIcon {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 50px; /* Più grande */
  color: var(--light); /* Colore bianco */
  cursor: pointer;
  z-index: 1100; /* Assicura che sia sopra lo sfondo */
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;

  &:hover {
      transform: scale(1.2);
      color: var(--primary); /* Cambia colore al passaggio */
  }
}

.menu_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9); /* Sfondo più scuro */
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-100%);
  transition: all 0.4s ease-in-out;
  z-index: 1000; /* Il menu è sotto l'icona di chiusura */

  &.showMenu {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
  }
}