@use "resolution" as *;

.container {
  @include flex-column-center;
  text-align: center;
  margin-bottom: 24px;
  background-color: var(--services-card-bg);
  color: var(--services-card-text);
  height: 382px;
  border-radius: 40px;

  @media (min-width: $media-tablet) {
    flex-direction: row;
    max-height: 180px;
    text-align: left;
    justify-content: space-evenly;
    padding: 0 40px;
  }

  @media (min-width: $media-desktop) {
    @include flex-column-center;
    text-align: center;
    max-height: 382px;
    margin: 0;
  }
}

.why_container {
  position: relative;
  text-align: center;
  padding: 0 44px;
  h2 {
    font-size: var(--md-header-fs);
    margin-bottom: 24px;
  }
  p {
    font-size: var(--md-body-fs);
    max-width: 516px;
  }

  &::after {
    content: "";
    position: absolute;
    height: 59%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    border-radius: 8px;
    @media (min-width: $media-tablet) {
      height: 65%;
    }
    @media (min-width: $media-desktop) {
      height: 77%;
    }
  }

  @media (min-width: $media-tablet) {
    padding: 0 57px;
  }
}

.why_text_content {
  padding-top: 44px;
  margin-bottom: 54px;
  @include flex-column-center;
  @media (min-width: $media-desktop) {
    margin-bottom: 86px;
  }
}

.title {
  color: var(--services-title);
  font-size: 2.25rem; // 4xl
  font-weight: 800;
}

.text {
  color: var(--services-description);
  font-size: 1.125rem; // lg
  margin-top: 1rem;
}

.why_card_container {
  @media (min-width: $media-desktop) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px 30px;
    margin-bottom: 24px;
  }
}

.text_content {
  max-width: 255px;
  flex-shrink: 2;
  margin-bottom: 90px;
  h3 {
    font-size: var(--xs-header-fs);
    margin-bottom: 24px;
  }
  p {
    font-size: var(--lg-body-fs);
  }
  
  @media (min-width: $media-tablet) {
    max-width: none;
    h3 {
      margin-bottom: 16px;
    }
  }
}

.image_box {
  margin-bottom: 56px;
  display: flex;            // Aggiungi display flex per centrare l'immagine
  justify-content: center;  // Centra orizzontalmente
  align-items: center;      // Centra verticalmente
  max-width: 500px;
  
  // Aumenta la larghezza per i dispositivi più grandi
  @media (min-width: $media-tablet) {
    width: 100%; // Immagine più grande su tablet, ma sempre al 100% del contenitore
    margin: 0 60px 0 20px;
  }
  
  @media (min-width: $media-desktop) {
    width: 100%; // Ancora più grande su desktop, ma sempre al 100% del contenitore
    margin: 0 0 56px;
  }

  .image {
    width: 65%; // Imposta la larghezza dell'immagine al 65% del contenitore
    height: auto; // Mantiene l'aspect ratio dell'immagine
  }
}

